<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="RPG Maker Player"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MkxpPlayerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:process=":mkxp"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemePlayerActivity" />

        <activity
            android:name=".MvMzPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:process=":mvmz"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".LibretroEasyRpgActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="RPG Maker Player"
            android:process=":easyrpg"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/RpgmpEasyRpgPlayerTheme" />

        <activity
            android:name=".LauncherActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
